
@font-face {
	font-family: "oswald stencil";
	src: url(oswald/oswald-stencil-webfont.ttf) format("truetype")
}

@font-face {
	font-family: "oswald light";
	src: url(oswald/oswald-light-webfont.ttf) format("truetype")
}

a {
	color: white;
}

a:visited{
	text-decoration: none;
}

button:hover {
	color: white;
}


.navbar-header {
	font-size: 30px;
	color: white;
	height: 50px;
	width: 50px;
	-webkit-animation-duration: 1s;
  -webkit-animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.nav {
	font-family: 'oswald light', sans-serif;
	text-align: left;
}



#top {
	height: 50px;
	width: 100%;
}

#projects {
	background: #FF8952; 
	position: relative;
	display: block;
}

#slogan {
	height: 700px;
	background: transparent;
	font-size: 50px;
	color: white;
	font-family: 'oswald light', sans-serif;
	text-align: center;
	padding-top: 300px;
	position: relative;
	display: block;
}

#logo {
	background: url("images/tile.jpg");
	position: fixed;
	height: 100%;
	width: 100%;
}

#logoName {
	color: #E85E40;
	margin-top: 200px;
	font-size: 70px;

	transform: rotate(5deg) scale(1) skew(1deg) translate(10px);
	-webkit-transform: rotate(5deg) scale(1) skew(1deg) translate(10px);
	margin-top: 100px;
	position: fixed;
	font-family: 'oswald stencil', helvetica, serif;
}


#Static, #Modx, #Wordpress, #About, #Contact {

	background: #FF8952;
	display: block;
	width: 100%;
	vertical-align: middle;
	font-family: "oswald light", helvetica, serif;
	color: white;
	text-align: center;
}




.divLeft {
	float: center;
}

.divRight {
	float: left;
	text-align: right;
	font-size: 20px;
}

.projectImg {
	border-radius: 50px;
	border-top-left-radius: 50px;
	-webkit-border-top-left-radius: 50px;
	-moz-border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-bottom-right-radius: 50px;
  padding: 5px;
  border: solid 2px white;
}


.meImg {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border-top-left-radius: 100px;
	-webkit-border-top-left-radius: 100px;
	-moz-border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;

}

.horseThiefImg {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border-top-left-radius: 100px;
	-webkit-border-top-left-radius: 100px;
	-moz-border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
}

#aboutName {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
}

#aboutText {
	font-size: 20px;
}

#Contact {
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

#contactPointer {
	padding-top: 150px;
	color: white;
	-webkit-animation-duration: 1s;
  -webkit-animation-name: bobBack;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes bobBack {
  from {
    margin-left: 10%;
  }

  to {
    margin-left: 0%;
  }
}

#contactModalLaunch {
	padding-top: 150px;
	color: white;
}

#contactButton {
	background: transparent;
	border: none;
}


#accordion {
	background-color: white;
	border: solid 1px;
}


.pillButton, .pillButton a {
	color: white;
	padding-right: 5%;
	font-size: 30px;
	font-family: 'Oxygen', sans-serif;

}




.appearForMobile {
	display: none;
	text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	#customMenu {
		font-size: 50px;
		padding-left: 5px;
	}

	#logoName {
		font-size: 55px;
	}

	#About {
		text-align: right;
	}

	.disappearForMobile {
		display: none;
		text-align: center;
	}

	.appearForMobile {
		display: block;
	}
}