
@font-face {
	font-family: "oswald stencil";
	src: url(oswald/oswald-stencil-webfont.ttf) format("truetype")
}

@font-face {
	font-family: "oswald light";
	src: url(oswald/oswald-light-webfont.ttf) format("truetype")
}




#customMenu {
	font-size: 30px;
	color: white;
	margin-top: 20px;
	/*margin-left: 5px;*/
	-webkit-animation-duration: 1s;
  -webkit-animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    /*width: 300%; */
  }

  to {
    margin-left: 0%;
    /*width: 100%;*/
  }
}

#dropdown-menu {
	font-family: 'oswald light', sans-serif;
	text-align: left;
}


#top {
	height: 1px;
	width: 100%;
}

#projects {
	/*margin-top: 700px;*/
	background: #FF8952; /*40E8A9;*/
	position: relative;
	display: block;
}

#slogan {
	height: 700px;
	background: transparent;
	font-size: 50px;
	color: white;
	font-family: 'oswald light', sans-serif;
	text-align: center;
	/*padding-right: 100px;*/
	padding-top: 300px;
	position: relative;
	display: block;
}

#logo {
	background: url("images/tile.jpg");
	position: fixed;
	height: 100%;
	width: 100%;
}

#logoName {
	color: #E85E40;
	margin-top: 200px;
	font-size: 70px;

	transform: rotate(5deg) scale(1) skew(1deg) translate(10px);
	-webkit-transform: rotate(5deg) scale(1) skew(1deg) translate(10px);
	/*background: transparent;*/
	margin-top: 100px;
	position: fixed;
	/*font-family: 'Dancing Script', cursive;*/
	font-family: 'oswald stencil', helvetica, serif;
}


#Static, #Modx, #Wordpress, #About {

	background: #FF8952;
	display: block;
	height: 300px;
	width: 100%;
	vertical-align: middle;
	font-family: "oswald light", helvetica, serif;
	color: white;
	text-align: center;
}

#Contact {

	background: #FF8952;
	display: block;
	height: 375px;
	width: 100%;
	vertical-align: middle;
	font-family: "oswald light", helvetica, serif;
	color: white;
	text-align: center;
}



/*.spiel {
	background: #fafafa;
}*/



.divLeft {
	float: center;
}

.divRight {
	float: left;
	text-align: right;
	font-size: 20px;
}

.projectImg {
	border-radius: 50px;
	border-top-left-radius: 50px;
	-webkit-border-top-left-radius: 50px;
	-moz-border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-bottom-right-radius: 50px;
  padding: 5px;
  border: solid 2px white;
}


.meImg {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border-top-left-radius: 100px;
	-webkit-border-top-left-radius: 100px;
	-moz-border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
	/*background: url(images/me.jpg) no-repeat;*/
	/*position: static;*/
}

.horseThiefImg {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border-top-left-radius: 100px;
	-webkit-border-top-left-radius: 100px;
	-moz-border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
	/*float: left;*/
}

#aboutName {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
}

#aboutText {
	font-size: 20px;
}

#Contact {
	font-size: 30px;
	
	/*height: 500px;
	width: 100%;*/
	text-align: center;
	vertical-align: middle;
}

#contactPointer {
	padding-top: 150px;
	color: white;
	-webkit-animation-duration: 1s;
  -webkit-animation-name: bobBack;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes bobBack {
  from {
    margin-left: 10%;
    /*width: 300%; */
  }

  to {
    margin-left: 0%;
  }
}

#contactModalLaunch {
	padding-top: 150px;
	color: white;
}


#accordion {
	background-color: white;
	border: solid 1px;
}


.pillButton, .pillButton a {
	color: white;
	float: right;
	padding-right: 5%;
	font-family: 'Oxygen', sans-serif;
}

a:visited{
	text-decoration: none;
}

#mailChimp {

}

.appearForMobile {
	display: none;
	text-align: center;
}

/*Retina*/

@media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){ 
	#logo {
	background: url("images/tile.jpg");
	}
}

/* 1.3 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.3), 
(min-resolution: 124.8dpi){ 
  #logo {
		background: url("images/tile.jpg");
	}
}

/* 1.5 dpr */
@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
  #logo {
		background: url("images/tile.jpg");
	}
}



/*Mobile*/
@media (min-device-width : 320px), (max-device-width : 480px) {
	#logoName {
		font-size: 55px;
	}

	.disappearForMobile {
		display: none;
		text-align: center;
	}

	.appearForMobile {
		display: block;
	}
}

@media (max-width: 770px) {

	#customMenu {
		padding-left: 5px;
	}
}